<section id="about" class="introduction" *ngIf="services$ | async as services">
  <div class="row clearfix">
    <div class="feature-container">
      <div class="row">
        <ng-container *ngFor="let service of services; let i = index">
          <div class="col-3">
            <div class="feature-item">
              <h3>{{ service.title }}</h3>
              <p>{{ service.description }}</p>
            </div>
          </div>

          <!-- Boş alan (1. satır, 2. ve 3. sütun) -->

        </ng-container>
      </div>
    </div>
  </div>
</section>
