<div id="services" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <div class="col-7">

    </div>

    <!-- Content of the Right Side -->
    <div class="col-2">
      <div id="map" style="height: 500px;">
      </div>
    </div>


    <div id="adress" class="col-3 mt-10">
      <h3>Adresimiz </h3>
      <table class="table">
        <tr>
          <td>Yenidoğan</td>
        </tr>
        <tr>
          <td>1139. Sk. No:106</td>
        </tr>
        <tr>
          <td>Konak/İzmir</td>
        </tr>

      </table>
    </div>

    <!-- End Content Right Side -->

  </div>
  <a id="myButton"
    href="https://www.google.com/maps?ll=38.413723,27.15708&z=19&t=m&hl=tr-TR&gl=US&mapclient=apiv3&cid=15887048466227069906"
    data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
    Tam Harita <i class="fa fa-play" aria-hidden="true"></i>
  </a>
</div>
<app-comment></app-comment>
